//Variables that might be used across multiple files
$font-primary: "";
$font-size: 16px;

//List of our colours
$colours: (
  white: #ffffff,
  black: #000000,
  liver: #bc6c25,
  cream-brown: #dda15e,
  cream: #fefae0,
  dark-green: #283618,
  olive-green: #606c38,
  bright-green: #70a826,
  dark-brown: #110b06,
  charcoal: #0b0e10,
);

//Retrieve colour
@function get-colour($colour) {
  @if map-has-key($colours, $colour) {
    @return map-get($colours, $colour);
  } @else {
    @error "Could not find the colour #{$colour} in the colour list.";
  }
}
