@use "../../../css/variables";

.c-navbar {
  background: #000;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 10;

  &__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    padding: 0 24px;
    max-width: 1100px;
  }

  &__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    //margin-right: -22px;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__item {
    padding: 3px 1rem 0 1rem;
    height: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    cursor: pointer;

    &.active {
      border-bottom: 3px solid red;
    }
  }

  &__logo {
    margin-left: 24px;
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-self: flex-start;
    background-image: url("../../../images/logos/lbb_logo_vertical_light.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 48px 48px;
    cursor: pointer;
  }

  &__mobile-icon {
    display: none;

    @media screen and (max-width: 768px) {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
      color: #fff;
    }
  }

  @media screen and (max-width: 960px) {
    transition: 0.8s all ease;
  }
}
